body
{
    text-align: center;
    background-color:rgb(165, 21, 165); 
    margin: 0;
     
}
#headersec
{
    padding: 8px;
}
#headersec h1
{
font-family: cursive;
color:aliceblue;
}
#input
{

    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
/* input[name="mobile"],input[name="password"]
{
    padding: 5px;
    width: 63%;
    padding-top: 20px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
} */
#dropbox
{
    padding: 5px; 
    border-radius: 5px;
    width: 66%;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid black;
}
#loginbtn
{
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color:green;
    color: aliceblue;
    width:60px;
}
#bodysec
{
    background-image: url("/images/voteimg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 745px;
    padding-right:0;
    /* border: 2px solid black; */
} 
    #logo
    {
        width: 250px;
        height: 50px;
        margin-left: 5px;
        background-color:aliceblue;
        background-blend-mode: darken;
        float: left;
        background-repeat: no-repeat;
        background-size: 250px;
        
    }
    #logo1
    {
        float: right;
        width: 87.5px;
        height: 87.5px;
        background-size: 87.5px;
        background-repeat: no-repeat;
        margin-right: 8px;
        margin-top:0;
    }

 #bodyhec
{
    margin-left: 20%;
    margin-top: 40px;
    width: 35%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background-color:#E8F2B4;

} 
